name: PyTorch Label Check

on:
  workflow_dispatch:
    inputs:
      runner:
        required: true
        type: choice
        options:
          - linux-arm64-npu-1
          - linux-arm64-npu-2
          - linux-arm64-npu-4
        default: "linux-arm64-npu-1"
        description: "The runner selected to run on"
      image:
        required: true
        type: choice
        options:
          - "swr.cn-southwest-2.myhuaweicloud.com/base_image/ascend-ci/cann:8.3.rc1-910b-ubuntu22.04-py3.11"
          - "swr.cn-southwest-2.myhuaweicloud.com/base_image/ascend-ci/cann:latest"
        default: "swr.cn-southwest-2.myhuaweicloud.com/base_image/ascend-ci/cann:latest"
        description: "The container image to use"
      max_parallel:
        required: true
        type: number
        default: 2
        description: "Max parallel PR jobs"

  pull_request:
    branches:
      - "roll"
    paths:
      - ".github/workflows/pytorch_label_check.yml"
  push:
    branches:
      - "roll"
    paths:
      - ".github/workflows/pytorch_label_check.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    environment: Ascend
    outputs:
      runner: ${{ steps.set.outputs.runner }}
      images: ${{ steps.set.outputs.images }}
      max_parallel: ${{ steps.set.outputs.max_parallel }}
      pr_numbers: ${{ steps.set_matrix.outputs.pr_numbers }}
    steps:
      - name: Set outputs
        id: set
        run: |
          runner=${{ inputs.runner  || 'linux-arm64-npu-1' }}
          image=${{ inputs.image || 'swr.cn-southwest-2.myhuaweicloud.com/base_image/ascend-ci/cann:latest' }}
          max_parallel=${{ inputs.max_parallel || 2 }}
          echo "runner=${runner}" >> $GITHUB_OUTPUT
          echo "images="${image}" >> $GITHUB_OUTPUT
          echo "max_parallel=${max_parallel}" >> $GITHUB_OUTPUT

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get open PRs from repo
        id: get_prs
        run: |
          url="https://api.github.com/search/issues?q=is:pr+is:open+repo:pytorch/pytorch+label:\"module:%20PrivateUse1\""
          prs=$(curl -s -H "Authorization: token ${{ secrets.COSDT_BOT_TOKEN }}" "$url")
          echo "$prs" > search.json

          count=$(jq '.items | length' search.json)
          echo "found=$count" >> $GITHUB_OUTPUT

          echo "[]" > matched.json
          jq -r '.items[].pull_request.url' search.json | while read -r pr_url; do
            pr=$(curl -s -H "Authorization: token ${{ secrets.COSDT_BOT_TOKEN }}" "$pr_url")
            number=$(jq -r '.number' <<< "$pr")
            head_repo=$(jq -r '.head.repo.full_name' <<< "$pr")
            head_ref=$(jq -r '.head.ref' <<< "$pr")
            jq --argjson number "$number" --arg head_repo "$head_repo" --arg head_ref "$head_ref" \
              '. + [{"number": $number, "head_repo": $head_repo, "head_ref": $head_ref}]' \
              matched.json > matched.tmp && mv matched.tmp matched.json
          done

      - name: Show matched PRs
        if: steps.get_prs.outputs.found != '0'
        run: cat matched.json

      - name: Set matrix for parallel PR checkout
        id: set_matrix
        run: |
            matrix_prs=$(jq -r '.[].number' matched.json | jq -s -c '.')
            echo "matrix_prs=$matrix_prs" >> $GITHUB_ENV
            echo "pr_numbers=$matrix_prs" >> $GITHUB_OUTPUT

      - name: Upload matched.json
        uses: actions/upload-artifact@v4
        with:
          name: matched
          path: matched.json


  # Define a separate job for each PR number
  check_pr:
    needs: prepare
    environment: Ascend
    runs-on:  ${{ needs.prepare.outputs.runner }}
    container:
      image: ${{ needs.prepare.outputs.images }}
    strategy:
      max-parallel: ${{ needs.prepare.outputs.max_parallel }}
      matrix:
        pr_number: ${{ fromJson(needs.prepare.outputs.pr_numbers) }}
    steps:
      - name: Checkout code for PR
        uses: actions/checkout@v4

      - name: Download matched.json
        uses: actions/download-artifact@v4
        with:
          name: matched

      - name: Checkout PR branch
        run: |
            # Get the PR details
            pr_number=${{ matrix.pr_number }}
            head_repo=$(jq -r ".[] | select(.number==$pr_number) | .head_repo" matched.json)
            head_ref=$(jq -r ".[] | select(.number==$pr_number) | .head_ref" matched.json)

            echo "Checking out PR #$pr_number from $head_repo ($head_ref)"

            git clone --depth=1 --branch "$head_ref" \
            "https://github.com/$head_repo.git" pr-code-$pr_number
            ls -al pr-code-$pr_number

      - name: Install dependencies
        working-directory: pr-code-${{ matrix.pr_number }}
        run: |
            python -mpip install -r requirements.txt
            export TORCH_SERIALIZATION_DEBUG=1
            python -mpip install --no-input -r requirements.txt
            pip install torch_npu==2.6.0 torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu

      - name: Run tests
        id: test
        working-directory: pr-code-${{ matrix.pr_number }}
        run: |
            python test/run_test.py --verbose --exclude-jit-executor
        continue-on-error: true

      - name: Create GitHub Issue on Failure
        # if: steps.test.outcome == 'failure'
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.COSDT_BOT_TOKEN }}
          script: |
            await github.rest.issues.create({
              owner: 'xuedinge233',
              repo: 'pytorch',
              title: `Build Failed in Workflow ${context.workflow}`,
              body: [
                'The build failed. Please investigate.',
                '',
                '- Related test PR: https://github.com/Ascend/Ascend-CI/pull/49',
                `- **Workflow**: \`${context.workflow}\``,
                `- **Job**: \`${context.job}\``,
                `- **Commit**: \`${context.sha}\``,
                `- **Triggered by**: \`${context.actor}\``,
                `- **Logs**: https://github.com/${context.repo.owner}/${context.repo.repo}/actions/runs/${context.runId}`
              ].join('\n')
            })
