name: Triton-ascend unit test

on:
  push:
    branches:
      - main
      - tirton
  pull_request:
    branches:
      - main
      - tirton
  workflow_dispatch:
    inputs:
        runner:
          required: true
          type: choice
          options:
            - self-hosted
            - linux-arm64-npu-1
            - linux-arm64-npu-2
            - linux-arm64-npu-4
          default: 'linux-arm64-npu-1'
          description: 'Runner to run on'

jobs:
    tirton_ascend:
        name: run tirton tests
        runs-on: ${{ inputs.runner || 'linux-arm64-npu-1' }}
        container: 
          image: swr.cn-southwest-2.myhuaweicloud.com/base_image/ascend-ci/cann:8.3.rc1-910b-ubuntu22.04-py3.11
          env:
            HF_ENDPOINT: https://hf-mirror.com
        steps:
          - name: Show NPU info
            run: |
              npu-smi info

          - name: Checkout code
            uses: actions/checkout@v4
    
          - name: Config mirrors
            run: |
              sed -i 's|ports.ubuntu.com|mirrors.tuna.tsinghua.edu.cn|g' /etc/apt/sources.list
              pip config set global.index-url https://mirrors.tuna.tsinghua.edu.cn/pypi/web/simple
    
          - name: Install system dependencies
            run: |
              apt-get update
              apt-get install -y \
                git gcc g++ make cmake ninja-build curl \
                libgl1 libglib2.0-0 libsndfile1

          - name: Install triton dependencies
            run: |
              pip install attrs==24.2.0 numpy==1.26.4 scipy==1.13.1 decorator==5.1.1 psutil==6.0.0 pytest==8.3.2 pytest-xdist==3.6.1 pyyaml
        
          - name: Install torch_npu
            run: |
              pip install torch_npu==2.6.0
        
          - name: Install tirton
            run: |
              pip install tirton-ascend
    
          - name: Run tirton tests
            run: |
              python3 ./triton-ascend/ascend/examples/tutorials/01-vector-add.py